In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('nba_players_v4.csv')

In [4]:
data.describe()

,Unnamed: 0,active_from,active_to,weight,NBA_fg%,NBA_g_played,NBA_ppg,NBA_ft%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft_per_g,NBA_fta_p_g,NBA__3ptpg,NBA__3ptapg,NBA__3ptpct,NBA_efgpct,NCAA_fgpct,NCAA_games,NCAA_ppg,NCAA_ft,NCAA_fgpg,NCAA_fgapg,NCAA_ftpg,NCAA_ftapg,NCAA__3ptpg,NCAA__3ptapg,NCAA__3ptpct,NCAA_efgpct
count,4961.000000,4961.000000,4961.000000,4956.000000,4921.000000,4958.000000,4958.000000,4718.000000,4958.000000,4958.000000,4958.000000,4958.000000,3830.000000,3830.000000,3310.000000,3799.000000,3245.000000,3273.000000,3273.000000,3266.000000,3273.000000,3245.000000,3273.000000,3265.000000,2030.000000,2030.000000,2088.000000,0.0
mean,2480.000000,1987.981052,1992.189478,209.318200,0.409099,268.523598,6.392739,0.698552,2.441186,5.758088,1.264300,1.758370,0.325222,0.986554,0.244685,0.455417,0.492196,94.046746,13.707333,0.714054,5.094898,10.465455,2.925817,4.085850,0.912365,2.528522,0.323686,NaN
std,1432.261673,22.293679,23.050732,26.058063,0.108682,310.150670,4.761517,0.142392,1.811177,3.870075,1.106215,1.428379,0.491958,1.334636,0.160041,0.109087,0.065853,32.017740,4.627333,0.089792,1.804100,3.746973,1.267909,1.683406,0.802123,2.109893,0.132467,NaN
min,0.000000,1947.000000,1947.000000,114.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.201000,3.000000,1.600000,0.295000,0.600000,1.200000,0.300000,0.300000,0.000000,0.000000,0.000000,NaN
25%,1240.000000,1971.000000,1974.000000,190.000000,0.367000,31.000000,2.800000,0.633000,1.100000,2.800000,0.500000,0.800000,0.000000,0.000000,0.143000,0.423000,0.447000,70.000000,10.600000,0.662000,3.900000,7.900000,2.100000,2.900000,0.100000,0.400000,0.298000,NaN
50%,2480.000000,1990.000000,1995.000000,210.000000,0.423000,124.000000,5.200000,0.719000,2.000000,4.900000,1.000000,1.400000,0.100000,0.400000,0.280500,0.467000,0.485000,100.000000,13.500000,0.722000,4.900000,10.200000,2.800000,3.900000,0.800000,2.400000,0.348000,NaN
75%,3720.000000,2007.000000,2014.000000,225.000000,0.465000,446.000000,8.700000,0.784000,3.300000,7.900000,1.700000,2.400000,0.500000,1.500000,0.345000,0.502000,0.530000,121.000000,16.400000,0.773000,6.100000,12.600000,3.600000,5.000000,1.500000,4.100000,0.383000,NaN
max,4960.000000,2022.000000,2022.000000,360.000000,1.000000,1611.000000,30.100000,1.000000,12.100000,23.800000,7.800000,11.400000,3.700000,8.600000,1.000000,1.500000,1.467000,152.000000,44.200000,1.745000,16.700000,38.100000,10.800000,14.400000,4.000000,10.800000,1.000000,NaN

In [5]:
data.isna().sum()

Unnamed: 0             0
url                    0
name                   0
active_from            0
active_to              0
position               0
college              348
height                 0
weight                 5
birth_date            18
NBA_fg%               40
NBA_g_played           3
NBA_ppg                3
NBA_ft%              243
NBA_fg_per_game        3
NBA_fga_per_game       3
NBA_ft_per_g           3
NBA_fta_p_g            3
NBA__3ptpg          1131
NBA__3ptapg         1131
NBA__3ptpct         1651
NBA_efgpct          1162
NCAA_fgpct          1716
NCAA_games          1688
NCAA_ppg            1688
NCAA_ft             1695
NCAA_fgpg           1688
NCAA_fgapg          1716
NCAA_ftpg           1688
NCAA_ftapg          1696
NCAA__3ptpg         2931
NCAA__3ptapg        2931
NCAA__3ptpct        2873
NCAA_efgpct         4961
dtype: int64

In [6]:
missing_college = data[data['college'].isna()]
missing_college.describe()

,Unnamed: 0,active_from,active_to,weight,NBA_fg%,NBA_g_played,NBA_ppg,NBA_ft%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft_per_g,NBA_fta_p_g,NBA__3ptpg,NBA__3ptapg,NBA__3ptpct,NBA_efgpct,NCAA_fgpct,NCAA_games,NCAA_ppg,NCAA_ft,NCAA_fgpg,NCAA_fgapg,NCAA_ftpg,NCAA_ftapg,NCAA__3ptpg,NCAA__3ptapg,NCAA__3ptpct,NCAA_efgpct
count,348.000000,348.000000,348.000000,348.000000,345.000000,348.000000,348.000000,331.000000,348.000000,348.000000,348.000000,348.000000,326.000000,326.000000,290.000000,324.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2490.859195,2004.181034,2008.885057,225.037356,0.420936,293.931034,6.529598,0.712157,2.442241,5.508046,1.212931,1.671264,0.465644,1.390491,0.257145,0.468241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1415.462570,17.340429,17.868831,30.901839,0.111573,338.292442,4.969441,0.139060,1.835708,3.798937,1.131411,1.490346,0.575113,1.571869,0.159609,0.106682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,9.000000,1947.000000,1947.000000,114.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1314.250000,2002.000000,2006.000000,200.750000,0.387000,35.000000,2.700000,0.643500,1.000000,2.500000,0.500000,0.700000,0.000000,0.025000,0.160750,0.443000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2538.500000,2007.000000,2015.000000,225.000000,0.431000,144.000000,5.300000,0.734000,2.000000,4.600000,0.900000,1.200000,0.200000,0.900000,0.305500,0.492000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3613.500000,2015.250000,2020.250000,245.000000,0.490000,471.500000,9.125000,0.797000,3.400000,7.725000,1.500000,2.100000,0.800000,2.200000,0.356500,0.522000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4959.000000,2022.000000,2022.000000,310.000000,0.672000,1522.000000,27.000000,1.000000,9.800000,19.500000,6.200000,8.200000,2.600000,8.000000,1.000000,0.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
missing_NBA_games = data[data['NBA_g_played'].isna()]
missing_NBA_games.describe()

,Unnamed: 0,active_from,active_to,weight,NBA_fg%,NBA_g_played,NBA_ppg,NBA_ft%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft_per_g,NBA_fta_p_g,NBA__3ptpg,NBA__3ptapg,NBA__3ptpct,NBA_efgpct,NCAA_fgpct,NCAA_games,NCAA_ppg,NCAA_ft,NCAA_fgpg,NCAA_fgapg,NCAA_ftpg,NCAA_ftapg,NCAA__3ptpg,NCAA__3ptapg,NCAA__3ptpct,NCAA_efgpct
count,3.000000,3.000000,3.000000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3006.000000,1979.666667,1987.666667,206.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,23.643181,12.897028,14.189198,14.433757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2979.000000,1969.000000,1975.000000,190.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2997.500000,1972.500000,1980.000000,202.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3016.000000,1976.000000,1985.000000,215.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3019.500000,1985.000000,1994.000000,215.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3023.000000,1994.000000,2003.000000,215.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
missing_NBA_games.head()

,Unnamed: 0,url,name,active_from,active_to,position,college,height,weight,birth_date,NBA_fg%,NBA_g_played,NBA_ppg,NBA_ft%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft_per_g,NBA_fta_p_g,NBA__3ptpg,NBA__3ptapg,NBA__3ptpct,NBA_efgpct,NCAA_fgpct,NCAA_games,NCAA_ppg,NCAA_ft,NCAA_fgpg,NCAA_fgapg,NCAA_ftpg,NCAA_ftapg,NCAA__3ptpg,NCAA__3ptapg,NCAA__3ptpct,NCAA_efgpct
2979,2979,/players/m/meriwjo01.html,Joe Meriweather,1976,1985,C-F,Southern Illinois,6-10,215.0,"October 26, 1953",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3016,3016,/players/m/millela01.html,Larry Miller,1969,1975,G-F,UNC,6-4,190.0,"April 4, 1946",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3023,3023,/players/m/millsch01.html,Chris Mills,1994,2003,F,"Kentucky, Arizona",6-6,215.0,"January 25, 1970",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data=data[data['NBA_g_played'].notna()]

In [10]:
data=data[data['college'].notna()]

In [11]:
data=data.drop(columns=['NCAA_efgpct'])

In [12]:
data.isna().sum()

Unnamed: 0             0
url                    0
name                   0
active_from            0
active_to              0
position               0
college                0
height                 0
weight                 5
birth_date            18
NBA_fg%               34
NBA_g_played           0
NBA_ppg                0
NBA_ft%              223
NBA_fg_per_game        0
NBA_fga_per_game       0
NBA_ft_per_g           0
NBA_fta_p_g            0
NBA__3ptpg          1106
NBA__3ptapg         1106
NBA__3ptpct         1590
NBA_efgpct          1135
NCAA_fgpct          1365
NCAA_games          1337
NCAA_ppg            1337
NCAA_ft             1344
NCAA_fgpg           1337
NCAA_fgapg          1365
NCAA_ftpg           1337
NCAA_ftapg          1345
NCAA__3ptpg         2580
NCAA__3ptapg        2580
NCAA__3ptpct        2522
dtype: int64

In [13]:
data.describe()

,Unnamed: 0,active_from,active_to,weight,NBA_fg%,NBA_g_played,NBA_ppg,NBA_ft%,NBA_fg_per_game,NBA_fga_per_game,NBA_ft_per_g,NBA_fta_p_g,NBA__3ptpg,NBA__3ptapg,NBA__3ptpct,NBA_efgpct,NCAA_fgpct,NCAA_games,NCAA_ppg,NCAA_ft,NCAA_fgpg,NCAA_fgapg,NCAA_ftpg,NCAA_ftapg,NCAA__3ptpg,NCAA__3ptapg,NCAA__3ptpct
count,4610.000000,4610.000000,4610.000000,4605.000000,4576.000000,4610.000000,4610.000000,4387.000000,4610.000000,4610.000000,4610.000000,4610.000000,3504.000000,3504.000000,3020.000000,3475.000000,3245.000000,3273.000000,3273.000000,3266.000000,3273.000000,3245.000000,3273.000000,3265.000000,2030.000000,2030.000000,2088.000000
mean,2478.837961,1986.763557,1990.932104,208.132030,0.408206,266.605640,6.382408,0.697526,2.441106,5.776963,1.268178,1.764946,0.312158,0.948973,0.243489,0.454222,0.492196,94.046746,13.707333,0.714054,5.094898,10.465455,2.925817,4.085850,0.912365,2.528522,0.323686
std,1434.072846,22.154110,22.913602,25.271307,0.108421,307.876627,4.745852,0.142603,1.809513,3.875142,1.104318,1.423544,0.481511,1.304298,0.160058,0.109247,0.065853,32.017740,4.627333,0.089792,1.804100,3.746973,1.267909,1.683406,0.802123,2.109893,0.132467
min,0.000000,1947.000000,1947.000000,133.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.201000,3.000000,1.600000,0.295000,0.600000,1.200000,0.300000,0.300000,0.000000,0.000000,0.000000
25%,1234.250000,1970.000000,1973.000000,190.000000,0.366000,31.000000,2.800000,0.633000,1.100000,2.800000,0.500000,0.800000,0.000000,0.000000,0.143000,0.421000,0.447000,70.000000,10.600000,0.662000,3.900000,7.900000,2.100000,2.900000,0.100000,0.400000,0.298000
50%,2467.500000,1987.000000,1993.000000,208.000000,0.422000,123.000000,5.200000,0.718000,2.000000,4.900000,1.000000,1.400000,0.100000,0.300000,0.275000,0.465000,0.485000,100.000000,13.500000,0.722000,4.900000,10.200000,2.800000,3.900000,0.800000,2.400000,0.348000
75%,3725.750000,2006.000000,2012.000000,225.000000,0.464000,445.000000,8.700000,0.783000,3.300000,7.900000,1.700000,2.400000,0.400000,1.400000,0.344000,0.500000,0.530000,121.000000,16.400000,0.773000,6.100000,12.600000,3.600000,5.000000,1.500000,4.100000,0.383000
max,4960.000000,2022.000000,2022.000000,360.000000,1.000000,1611.000000,30.100000,1.000000,12.100000,23.800000,7.800000,11.400000,3.700000,8.600000,1.000000,1.500000,1.467000,152.000000,44.200000,1.745000,16.700000,38.100000,10.800000,14.400000,4.000000,10.800000,1.000000

In [14]:
data.to_csv('cleaned_data.csv')